//! **************************************************************************
// Written by: Map P.58f on Fri Dec 11 08:06:37 2015
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "M13" LEVEL 1;
COMP "rx" LOCATE = SITE "G11" LEVEL 1;
COMP "tx" LOCATE = SITE "F10" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "load" LOCATE = SITE "A8" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "segments<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "segments<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "segments<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "segments<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "segments<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "segments<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segments<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "display_0" BEL "display_1" BEL "display_2" BEL
        "display_3" BEL "display_4" BEL "display_5" BEL "display_6" BEL
        "display_7" BEL "Debounce_inst1/o" BEL "Debounce_inst0/o" BEL
        "Debounce_inst0/c_0" BEL "Debounce_inst0/c_1" BEL "Debounce_inst0/c_2"
        BEL "Debounce_inst0/c_3" BEL "Debounce_inst0/c_4" BEL
        "Debounce_inst0/c_5" BEL "Debounce_inst0/c_6" BEL "Debounce_inst0/c_7"
        BEL "Debounce_inst0/c_8" BEL "Debounce_inst0/c_9" BEL
        "Debounce_inst0/c_10" BEL "Debounce_inst0/c_11" BEL
        "Debounce_inst0/c_12" BEL "Debounce_inst0/c_13" BEL
        "Debounce_inst0/c_14" BEL "Debounce_inst0/c_15" BEL
        "Debounce_inst0/c_16" BEL "Debounce_inst0/c_17" BEL
        "Debounce_inst0/c_18" BEL "Debounce_inst0/c_19" BEL
        "Debounce_inst0/c_20" BEL "Debounce_inst0/c_21" BEL
        "Debounce_inst0/c_22" BEL "Debounce_inst0/c_23" BEL "j_0" BEL "j_1"
        BEL "j_2" BEL "j_3" BEL "j_4" BEL "Debounce_inst1/c_0" BEL
        "Debounce_inst1/c_1" BEL "Debounce_inst1/c_2" BEL "Debounce_inst1/c_3"
        BEL "Debounce_inst1/c_4" BEL "Debounce_inst1/c_5" BEL
        "Debounce_inst1/c_6" BEL "Debounce_inst1/c_7" BEL "Debounce_inst1/c_8"
        BEL "Debounce_inst1/c_9" BEL "Debounce_inst1/c_10" BEL
        "Debounce_inst1/c_11" BEL "Debounce_inst1/c_12" BEL
        "Debounce_inst1/c_13" BEL "Debounce_inst1/c_14" BEL
        "Debounce_inst1/c_15" BEL "Debounce_inst1/c_16" BEL
        "Debounce_inst1/c_17" BEL "Debounce_inst1/c_18" BEL
        "Debounce_inst1/c_19" BEL "Debounce_inst1/c_20" BEL
        "Debounce_inst1/c_21" BEL "Debounce_inst1/c_22" BEL
        "Debounce_inst1/c_23" BEL "i_0" BEL "i_1" BEL "i_2" BEL "i_3" BEL
        "i_4" BEL "UARTReciever_inst/cnt_ws_1" BEL
        "UARTReciever_inst/cnt_ws_0" BEL "UARTReciever_inst/bit_counter_2" BEL
        "UARTReciever_inst/bit_counter_1" BEL
        "UARTReciever_inst/bit_counter_0" BEL "UARTReciever_inst/state_2" BEL
        "UARTReciever_inst/state_1" BEL "UARTReciever_inst/state_0" BEL
        "UARTReciever_inst/tick_counter_3" BEL
        "UARTReciever_inst/tick_counter_2" BEL
        "UARTReciever_inst/tick_counter_1" BEL
        "UARTReciever_inst/tick_counter_0" BEL "UARTReciever_inst/old_state_1"
        BEL "UARTReciever_inst/old_state_0" BEL "UARTReciever_inst/reg_7" BEL
        "UARTReciever_inst/reg_6" BEL "UARTReciever_inst/reg_5" BEL
        "UARTReciever_inst/reg_4" BEL "UARTReciever_inst/reg_3" BEL
        "UARTReciever_inst/reg_2" BEL "UARTReciever_inst/reg_1" BEL
        "UARTReciever_inst/reg_0" BEL "UARTTransmitter_inst/cnt_ws_1" BEL
        "UARTTransmitter_inst/cnt_ws_0" BEL
        "UARTTransmitter_inst/bit_counter_2" BEL
        "UARTTransmitter_inst/bit_counter_1" BEL
        "UARTTransmitter_inst/bit_counter_0" BEL
        "UARTTransmitter_inst/state_2" BEL "UARTTransmitter_inst/state_1" BEL
        "UARTTransmitter_inst/state_0" BEL
        "UARTTransmitter_inst/tick_counter_3" BEL
        "UARTTransmitter_inst/tick_counter_2" BEL
        "UARTTransmitter_inst/tick_counter_1" BEL
        "UARTTransmitter_inst/tick_counter_0" BEL
        "UARTTransmitter_inst/old_state_1" BEL
        "UARTTransmitter_inst/old_state_0" BEL "UARTTransmitter_inst/reg_6"
        BEL "UARTTransmitter_inst/reg_5" BEL "UARTTransmitter_inst/reg_4" BEL
        "UARTTransmitter_inst/reg_3" BEL "UARTTransmitter_inst/reg_2" BEL
        "UARTTransmitter_inst/reg_1" BEL "UARTTransmitter_inst/reg_0" BEL
        "BaudRateGenerator_inst/cnt_5" BEL "BaudRateGenerator_inst/cnt_4" BEL
        "BaudRateGenerator_inst/cnt_3" BEL "BaudRateGenerator_inst/cnt_2" BEL
        "BaudRateGenerator_inst/cnt_1" BEL "BaudRateGenerator_inst/cnt_0" BEL
        "UARTCtrl_inst/cnt_ws_1" BEL "UARTCtrl_inst/cnt_ws_0" BEL
        "UARTCtrl_inst/state_FSM_FFd1" BEL "UARTCtrl_inst/state_FSM_FFd2" BEL
        "UARTCtrl_inst/d_out_reg_4" BEL "UARTCtrl_inst/d_out_reg_3" BEL
        "UARTCtrl_inst/d_out_reg_1" BEL "UARTCtrl_inst/d_out_reg_0" BEL
        "UARTCtrl_inst/d_out_reg_2" BEL "Led7seg_inst/COUNTER_14" BEL
        "Led7seg_inst/COUNTER_12" BEL "Led7seg_inst/COUNTER_11" BEL
        "Led7seg_inst/COUNTER_13" BEL "Led7seg_inst/COUNTER_8" BEL
        "Led7seg_inst/COUNTER_6" BEL "Led7seg_inst/COUNTER_5" BEL
        "Led7seg_inst/SEGMENTS_6" BEL "Led7seg_inst/SEGMENTS_5" BEL
        "Led7seg_inst/SEGMENTS_4" BEL "Led7seg_inst/SEGMENTS_3" BEL
        "Led7seg_inst/SEGMENTS_2" BEL "Led7seg_inst/SEGMENTS_1" BEL
        "Led7seg_inst/SEGMENTS_0" BEL "Led7seg_inst/REFRESH" BEL
        "Led7seg_inst/REG_DATA_7" BEL "Led7seg_inst/REG_DATA_6" BEL
        "Led7seg_inst/REG_DATA_5" BEL "Led7seg_inst/REG_DATA_4" BEL
        "Led7seg_inst/REG_DATA_3" BEL "Led7seg_inst/REG_DATA_2" BEL
        "Led7seg_inst/REG_DATA_1" BEL "Led7seg_inst/REG_DATA_0" BEL
        "Led7seg_inst/ANODES_3" BEL "Led7seg_inst/ANODES_2" BEL
        "Led7seg_inst/ANODES_1" BEL "Led7seg_inst/ANODES_0" BEL
        "Led7seg_inst/STATE" BEL "state_button_0" BEL "state_done_0" BEL
        "UARTReciever_inst/rx_done" BEL "UARTTransmitter_inst/tx_reg" BEL
        "BaudRateGenerator_inst/tick" BEL "UARTCtrl_inst/w_start" BEL
        "UARTTransmitter_inst/tx_done" BEL "Led7seg_inst/COUNTER_15_C_15" BEL
        "Led7seg_inst/COUNTER_15_P_15" BEL "Led7seg_inst/COUNTER_16_C_16" BEL
        "Led7seg_inst/COUNTER_16_P_16" BEL "Led7seg_inst/COUNTER_9_C_9" BEL
        "Led7seg_inst/COUNTER_9_P_9" BEL "Led7seg_inst/COUNTER_10_C_10" BEL
        "Led7seg_inst/COUNTER_10_P_10" BEL "Led7seg_inst/COUNTER_7_C_7" BEL
        "Led7seg_inst/COUNTER_7_P_7" BEL "Led7seg_inst/COUNTER_3_C_3" BEL
        "Led7seg_inst/COUNTER_3_P_3" BEL "Led7seg_inst/COUNTER_2_C_2" BEL
        "Led7seg_inst/COUNTER_2_P_2" BEL "Led7seg_inst/COUNTER_4_C_4" BEL
        "Led7seg_inst/COUNTER_4_P_4" BEL "Led7seg_inst/COUNTER_0_C_0" BEL
        "Led7seg_inst/COUNTER_0_P_0" BEL "Led7seg_inst/COUNTER_1_C_1" BEL
        "Led7seg_inst/COUNTER_1_P_1" BEL "Led7seg_inst/IDX_1_C_1" BEL
        "Led7seg_inst/IDX_1_P_1" BEL "Led7seg_inst/IDX_0_C_0" BEL
        "Led7seg_inst/IDX_0_P_0" BEL "clk_BUFGP/BUFG" BEL
        "Mram_array_char21/SP" BEL "Mram_array_char21/DP" BEL
        "Mram_array_char22/SP" BEL "Mram_array_char22/DP" BEL
        "Mram_array_char1_RAMA_D1" BEL "Mram_array_char1_RAMA" BEL
        "Mram_array_char1_RAMB_D1" BEL "Mram_array_char1_RAMB" BEL
        "Mram_array_char1_RAMC_D1" BEL "Mram_array_char1_RAMC" BEL
        "Mram_array_char1_RAMD_D1" BEL "Mram_array_char1_RAMD";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

