//! **************************************************************************
// Written by: Map P.58f on Wed Feb 17 17:18:44 2016
//! **************************************************************************

SCHEMATIC START;
COMP "tp" LOCATE = SITE "F11" LEVEL 1;
COMP "rx" LOCATE = SITE "G11" LEVEL 1;
COMP "tx" LOCATE = SITE "F10" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "led_failed_initial" LOCATE = SITE "M11" LEVEL 1;
COMP "led_failed_sync" LOCATE = SITE "V15" LEVEL 1;
COMP "start" LOCATE = SITE "A8" LEVEL 1;
COMP "tx_pc" LOCATE = SITE "N17" LEVEL 1;
COMP "ledinit" LOCATE = SITE "R11" LEVEL 1;
COMP "led_failed_picture" LOCATE = SITE "U15" LEVEL 1;
COMP "ledpic" LOCATE = SITE "N11" LEVEL 1;
COMP "ledsyn" LOCATE = SITE "T11" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "sizeFrame_23" BEL "sizeFrame_22" BEL "sizeFrame_21"
        BEL "sizeFrame_20" BEL "sizeFrame_19" BEL "sizeFrame_18" BEL
        "sizeFrame_17" BEL "sizeFrame_16" BEL "sizeFrame_15" BEL
        "sizeFrame_14" BEL "sizeFrame_13" BEL "sizeFrame_12" BEL
        "sizeFrame_11" BEL "sizeFrame_10" BEL "sizeFrame_9" BEL "sizeFrame_8"
        BEL "sizeFrame_7" BEL "sizeFrame_6" BEL "sizeFrame_5" BEL
        "sizeFrame_4" BEL "sizeFrame_3" BEL "sizeFrame_2" BEL "sizeFrame_1"
        BEL "sizeFrame_0" BEL "cmdVal_23" BEL "cmdVal_22" BEL "cmdVal_21" BEL
        "cmdVal_15" BEL "cmdVal_14" BEL "cmdVal_13" BEL "cmdVal_12" BEL
        "data_0" BEL "data_1" BEL "data_2" BEL "data_3" BEL "data_4" BEL
        "data_5" BEL "data_6" BEL "data_7" BEL "led_failed_initial" BEL
        "led_failed_sync" BEL "cnt5ms_0" BEL "cnt5ms_1" BEL "cnt5ms_2" BEL
        "cnt5ms_3" BEL "cnt5ms_4" BEL "cnt5ms_5" BEL "cnt5ms_6" BEL "cnt5ms_7"
        BEL "cnt5ms_8" BEL "cnt5ms_9" BEL "cnt5ms_10" BEL "cnt5ms_11" BEL
        "cnt5ms_12" BEL "cnt5ms_13" BEL "cnt5ms_14" BEL "cnt5ms_15" BEL
        "cnt5ms_16" BEL "led_failed_picture" BEL "datafromCAM_47" BEL
        "datafromCAM_46" BEL "datafromCAM_45" BEL "datafromCAM_44" BEL
        "datafromCAM_43" BEL "datafromCAM_42" BEL "datafromCAM_41" BEL
        "datafromCAM_40" BEL "datafromCAM_39" BEL "datafromCAM_38" BEL
        "datafromCAM_37" BEL "datafromCAM_36" BEL "datafromCAM_35" BEL
        "datafromCAM_34" BEL "datafromCAM_33" BEL "datafromCAM_32" BEL
        "datafromCAM_31" BEL "datafromCAM_30" BEL "datafromCAM_29" BEL
        "datafromCAM_28" BEL "datafromCAM_27" BEL "datafromCAM_26" BEL
        "datafromCAM_25" BEL "datafromCAM_24" BEL "datafromCAM_23" BEL
        "datafromCAM_22" BEL "datafromCAM_21" BEL "datafromCAM_20" BEL
        "datafromCAM_19" BEL "datafromCAM_18" BEL "datafromCAM_17" BEL
        "datafromCAM_16" BEL "datafromCAM_15" BEL "datafromCAM_14" BEL
        "datafromCAM_13" BEL "datafromCAM_12" BEL "datafromCAM_11" BEL
        "datafromCAM_10" BEL "datafromCAM_9" BEL "datafromCAM_8" BEL
        "datafromCAM_7" BEL "datafromCAM_6" BEL "datafromCAM_5" BEL
        "datafromCAM_4" BEL "datafromCAM_3" BEL "datafromCAM_2" BEL
        "datafromCAM_1" BEL "datafromCAM_0" BEL "tmpbuffer_7" BEL
        "tmpbuffer_6" BEL "tmpbuffer_5" BEL "tmpbuffer_4" BEL "tmpbuffer_3"
        BEL "tmpbuffer_2" BEL "tmpbuffer_1" BEL "tmpbuffer_0" BEL "Ind_0" BEL
        "Ind_1" BEL "Ind_2" BEL "valid_data" BEL "cmd_39" BEL "cmd_31" BEL
        "cmd_30" BEL "cmd_29" BEL "cmd_28" BEL "cmd_27" BEL "cmd_26" BEL
        "cmd_25" BEL "cmd_24" BEL "cmd_23" BEL "cmd_22" BEL "cmd_20" BEL
        "cmd_15" BEL "cmd_13" BEL "cmd_12" BEL "Debounce_inst1/o" BEL
        "Debounce_inst0/o" BEL "cnt_ws_0" BEL "cnt_ws_1" BEL "attempts_0" BEL
        "attempts_1" BEL "attempts_2" BEL "attempts_3" BEL "attempts_4" BEL
        "Debounce_inst1/c_0" BEL "Debounce_inst1/c_1" BEL "Debounce_inst1/c_2"
        BEL "Debounce_inst1/c_3" BEL "Debounce_inst1/c_4" BEL
        "Debounce_inst1/c_5" BEL "Debounce_inst1/c_6" BEL "Debounce_inst1/c_7"
        BEL "Debounce_inst1/c_8" BEL "Debounce_inst1/c_9" BEL
        "Debounce_inst1/c_10" BEL "Debounce_inst1/c_11" BEL
        "Debounce_inst1/c_12" BEL "Debounce_inst1/c_13" BEL
        "Debounce_inst1/c_14" BEL "Debounce_inst1/c_15" BEL
        "Debounce_inst1/c_16" BEL "Debounce_inst1/c_17" BEL
        "Debounce_inst1/c_18" BEL "Debounce_inst1/c_19" BEL
        "Debounce_inst1/c_20" BEL "Debounce_inst1/c_21" BEL
        "Debounce_inst1/c_22" BEL "Debounce_inst1/c_23" BEL "state_FSM_FFd4"
        BEL "Debounce_inst0/c_0" BEL "Debounce_inst0/c_1" BEL
        "Debounce_inst0/c_2" BEL "Debounce_inst0/c_3" BEL "Debounce_inst0/c_4"
        BEL "Debounce_inst0/c_5" BEL "Debounce_inst0/c_6" BEL
        "Debounce_inst0/c_7" BEL "Debounce_inst0/c_8" BEL "Debounce_inst0/c_9"
        BEL "Debounce_inst0/c_10" BEL "Debounce_inst0/c_11" BEL
        "Debounce_inst0/c_12" BEL "Debounce_inst0/c_13" BEL
        "Debounce_inst0/c_14" BEL "Debounce_inst0/c_15" BEL
        "Debounce_inst0/c_16" BEL "Debounce_inst0/c_17" BEL
        "Debounce_inst0/c_18" BEL "Debounce_inst0/c_19" BEL
        "Debounce_inst0/c_20" BEL "Debounce_inst0/c_21" BEL
        "Debounce_inst0/c_22" BEL "Debounce_inst0/c_23" BEL "state_FSM_FFd5"
        BEL "state_FSM_FFd1" BEL "state_FSM_FFd3" BEL "state_FSM_FFd2" BEL
        "state1_FSM_FFd1" BEL "state1_FSM_FFd3" BEL "state1_FSM_FFd2" BEL
        "num_data_22" BEL "num_data_21" BEL "num_data_20" BEL "num_data_19"
        BEL "num_data_18" BEL "num_data_17" BEL "num_data_16" BEL
        "num_data_15" BEL "num_data_14" BEL "num_data_13" BEL "num_data_12"
        BEL "num_data_11" BEL "num_data_10" BEL "num_data_9" BEL "num_data_8"
        BEL "num_data_7" BEL "num_data_6" BEL "num_data_5" BEL "num_data_4"
        BEL "num_data_3" BEL "num_data_2" BEL "num_data_1" BEL "num_data_0"
        BEL "SendCommand_inst/cnt_ws_1" BEL "SendCommand_inst/cnt_ws_0" BEL
        "SendCommand_inst/state_FSM_FFd1" BEL "SendCommand_inst/Ind_2" BEL
        "SendCommand_inst/Ind_1" BEL "SendCommand_inst/Ind_0" BEL
        "SendCommand_inst/state_FSM_FFd2" BEL
        "SendCommand_inst/state_FSM_FFd3" BEL "SendCommand_inst/command_0" BEL
        "SendCommand_inst/command_12" BEL "SendCommand_inst/command_13" BEL
        "SendCommand_inst/command_14" BEL "SendCommand_inst/command_15" BEL
        "SendCommand_inst/command_21" BEL "SendCommand_inst/command_22" BEL
        "SendCommand_inst/command_24" BEL "SendCommand_inst/command_25" BEL
        "SendCommand_inst/command_26" BEL "SendCommand_inst/command_27" BEL
        "SendCommand_inst/command_28" BEL "SendCommand_inst/command_29" BEL
        "SendCommand_inst/command_30" BEL "SendCommand_inst/command_31" BEL
        "SendCommand_inst/command_38" BEL "SendCommand_inst/d_out_reg_7" BEL
        "SendCommand_inst/d_out_reg_6" BEL "SendCommand_inst/d_out_reg_5" BEL
        "SendCommand_inst/d_out_reg_4" BEL "SendCommand_inst/d_out_reg_3" BEL
        "SendCommand_inst/d_out_reg_2" BEL "SendCommand_inst/d_out_reg_1" BEL
        "SendCommand_inst/d_out_reg_0" BEL
        "SendCommand_inst/UARTTransmitter_inst/cnt_ws_1" BEL
        "SendCommand_inst/UARTTransmitter_inst/cnt_ws_0" BEL
        "SendCommand_inst/UARTTransmitter_inst/bit_counter_2" BEL
        "SendCommand_inst/UARTTransmitter_inst/bit_counter_1" BEL
        "SendCommand_inst/UARTTransmitter_inst/bit_counter_0" BEL
        "SendCommand_inst/UARTTransmitter_inst/state_2" BEL
        "SendCommand_inst/UARTTransmitter_inst/state_1" BEL
        "SendCommand_inst/UARTTransmitter_inst/state_0" BEL
        "SendCommand_inst/UARTTransmitter_inst/tick_counter_3" BEL
        "SendCommand_inst/UARTTransmitter_inst/tick_counter_2" BEL
        "SendCommand_inst/UARTTransmitter_inst/tick_counter_1" BEL
        "SendCommand_inst/UARTTransmitter_inst/tick_counter_0" BEL
        "SendCommand_inst/UARTTransmitter_inst/old_state_1" BEL
        "SendCommand_inst/UARTTransmitter_inst/old_state_0" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_7" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_6" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_5" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_4" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_3" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_2" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_1" BEL
        "SendCommand_inst/UARTTransmitter_inst/reg_0" BEL "TxPc_inst/cnt_ws_1"
        BEL "TxPc_inst/cnt_ws_0" BEL "TxPc_inst/bit_counter_2" BEL
        "TxPc_inst/bit_counter_1" BEL "TxPc_inst/bit_counter_0" BEL
        "TxPc_inst/state_2" BEL "TxPc_inst/state_1" BEL "TxPc_inst/state_0"
        BEL "TxPc_inst/tick_counter_3" BEL "TxPc_inst/tick_counter_2" BEL
        "TxPc_inst/tick_counter_1" BEL "TxPc_inst/tick_counter_0" BEL
        "TxPc_inst/old_state_1" BEL "TxPc_inst/old_state_0" BEL
        "TxPc_inst/reg_7" BEL "TxPc_inst/reg_6" BEL "TxPc_inst/reg_5" BEL
        "TxPc_inst/reg_4" BEL "TxPc_inst/reg_3" BEL "TxPc_inst/reg_2" BEL
        "TxPc_inst/reg_1" BEL "TxPc_inst/reg_0" BEL
        "ReceiveCommand_inst/state_FSM_FFd2" BEL
        "ReceiveCommand_inst/cnt_ws_1" BEL "ReceiveCommand_inst/cnt_ws_0" BEL
        "ReceiveCommand_inst/state_FSM_FFd1" BEL "ReceiveCommand_inst/Ind_2"
        BEL "ReceiveCommand_inst/Ind_1" BEL "ReceiveCommand_inst/Ind_0" BEL
        "ReceiveCommand_inst/cmd_0" BEL "ReceiveCommand_inst/cmd_1" BEL
        "ReceiveCommand_inst/cmd_2" BEL "ReceiveCommand_inst/cmd_3" BEL
        "ReceiveCommand_inst/cmd_4" BEL "ReceiveCommand_inst/cmd_5" BEL
        "ReceiveCommand_inst/cmd_6" BEL "ReceiveCommand_inst/cmd_7" BEL
        "ReceiveCommand_inst/cmd_8" BEL "ReceiveCommand_inst/cmd_9" BEL
        "ReceiveCommand_inst/cmd_10" BEL "ReceiveCommand_inst/cmd_11" BEL
        "ReceiveCommand_inst/cmd_12" BEL "ReceiveCommand_inst/cmd_13" BEL
        "ReceiveCommand_inst/cmd_14" BEL "ReceiveCommand_inst/cmd_15" BEL
        "ReceiveCommand_inst/cmd_16" BEL "ReceiveCommand_inst/cmd_17" BEL
        "ReceiveCommand_inst/cmd_18" BEL "ReceiveCommand_inst/cmd_19" BEL
        "ReceiveCommand_inst/cmd_20" BEL "ReceiveCommand_inst/cmd_21" BEL
        "ReceiveCommand_inst/cmd_22" BEL "ReceiveCommand_inst/cmd_23" BEL
        "ReceiveCommand_inst/cmd_24" BEL "ReceiveCommand_inst/cmd_25" BEL
        "ReceiveCommand_inst/cmd_26" BEL "ReceiveCommand_inst/cmd_27" BEL
        "ReceiveCommand_inst/cmd_28" BEL "ReceiveCommand_inst/cmd_29" BEL
        "ReceiveCommand_inst/cmd_30" BEL "ReceiveCommand_inst/cmd_31" BEL
        "ReceiveCommand_inst/cmd_32" BEL "ReceiveCommand_inst/cmd_33" BEL
        "ReceiveCommand_inst/cmd_34" BEL "ReceiveCommand_inst/cmd_35" BEL
        "ReceiveCommand_inst/cmd_36" BEL "ReceiveCommand_inst/cmd_37" BEL
        "ReceiveCommand_inst/cmd_38" BEL "ReceiveCommand_inst/cmd_39" BEL
        "ReceiveCommand_inst/cmd_40" BEL "ReceiveCommand_inst/cmd_41" BEL
        "ReceiveCommand_inst/cmd_42" BEL "ReceiveCommand_inst/cmd_43" BEL
        "ReceiveCommand_inst/cmd_44" BEL "ReceiveCommand_inst/cmd_45" BEL
        "ReceiveCommand_inst/cmd_46" BEL "ReceiveCommand_inst/cmd_47" BEL
        "ReceiveCommand_inst/UARTReciever_inst/cnt_ws_1" BEL
        "ReceiveCommand_inst/UARTReciever_inst/cnt_ws_0" BEL
        "ReceiveCommand_inst/UARTReciever_inst/bit_counter_2" BEL
        "ReceiveCommand_inst/UARTReciever_inst/bit_counter_1" BEL
        "ReceiveCommand_inst/UARTReciever_inst/bit_counter_0" BEL
        "ReceiveCommand_inst/UARTReciever_inst/state_2" BEL
        "ReceiveCommand_inst/UARTReciever_inst/state_1" BEL
        "ReceiveCommand_inst/UARTReciever_inst/state_0" BEL
        "ReceiveCommand_inst/UARTReciever_inst/tick_counter_3" BEL
        "ReceiveCommand_inst/UARTReciever_inst/tick_counter_2" BEL
        "ReceiveCommand_inst/UARTReciever_inst/tick_counter_1" BEL
        "ReceiveCommand_inst/UARTReciever_inst/tick_counter_0" BEL
        "ReceiveCommand_inst/UARTReciever_inst/old_state_1" BEL
        "ReceiveCommand_inst/UARTReciever_inst/old_state_0" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_7" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_6" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_5" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_4" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_3" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_2" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_1" BEL
        "ReceiveCommand_inst/UARTReciever_inst/reg_0" BEL
        "BaudRateGenerator_inst/cnt_5" BEL "BaudRateGenerator_inst/cnt_4" BEL
        "BaudRateGenerator_inst/cnt_3" BEL "BaudRateGenerator_inst/cnt_2" BEL
        "BaudRateGenerator_inst/cnt_1" BEL "BaudRateGenerator_inst/cnt_0" BEL
        "next_ack" BEL "ledsyn" BEL "ledinit" BEL "ledpic" BEL "startrx" BEL
        "starttx" BEL "SendCommand_inst/cmdsent" BEL
        "SendCommand_inst/w_start" BEL
        "SendCommand_inst/UARTTransmitter_inst/tx_reg" BEL "TxPc_inst/tx_reg"
        BEL "ReceiveCommand_inst/cmdreceived" BEL
        "ReceiveCommand_inst/UARTReciever_inst/rx_done" BEL
        "BaudRateGenerator_inst/tick" BEL
        "SendCommand_inst/UARTTransmitter_inst/tx_done" BEL
        "TxPc_inst/tx_done" BEL "state_FSM_FFd4_1" BEL "state_FSM_FFd2_1" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

